.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.sidebar-sticky {
  height: 100%;
  padding-top: 5%;
  position: absolute;
}

.sidebar-sticky ul li {
  white-space: nowrap; // Prevents text from wrapping
  overflow: visible;    // Hides overflow text
}

.sidebar-about {
  padding-bottom:10%;
}

.spread-btn {
  left: 7%;
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  // height: 24px;  // Fixed height for consistency
  // width: 24px;   // Fixed width to contain the icon
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-shrink: 0;  // Prevent shrinking
}

// .spread-btn span {
//   position: absolute;
//   top: 50%;
//   left: 0;
//   right: 0;
//   text-align: center;
//   transform: translateY(-50%);
// }

.spread-btn:hover{
  color: grey;
}

.menu-wrapper{
  display: flex;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 0%;
  
  input[type=checkbox]{
    display: none;
  }
  
  input[type=checkbox] ~ ul{
    display: none;
    list-style: none;
  }
  
  input[type=checkbox]:checked ~ ul{
    display: block;
  }
}
